Novidade! Atalhos do teclado … Os atalhos de teclado do Drive foram atualizados para oferecer navegação por letras iniciais
.mainContainer {
  background-color: #f5f5f5;
    /* Cinza Claro */
    padding: 20px;
    border-radius: 8px;
  }
  
  .heading {
  color: #1F3C88;
    /* Azul Escuro */
  }
  
  .subheading {
  color: #2A9D8F;
    /* Verde Escuro */
    margin-top: 20px;
  }
  
  .input {
  border-color: #A1A1A1;
    /* Cinza Médio */
    color: #1F3C88;
    /* Azul Escuro */
  }
  
  .input:focus {
  border-color: #DAA520;
    /* Dourado */
    box-shadow: 0 0 5px rgba(218, 165, 32, 0.5);
  }
  
  .submitButton {
  background-color: #1F3C88;
    /* Azul Escuro */
    border-color: #1F3C88;
    /* Azul Escuro */
    color: #FFFFFF;
    /* Branco */
  }
  
    .submitButton:hover {
    border-color: #2A9D8F;
  }
  
  .inputError {
    border-color: red !important;
  }
  
  .text-danger {
    color: red;
  }
  
  .mt-1 {
    margin-top: 0.25rem;
  }
  
  .topBar {
    width: 100%;
    background: #7dc8b1;
    border-bottom: 1px solid #dee2e6;
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
  }
  
  .pageTitle {
    font-size: 1.5rem;
    color: #323879;
    margin-bottom: 0.7rem;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
  }
.customLabel {
  color: #323879;
  font-weight: bold;
  font-size: 1.55rem;
}
.inputGroup {
  position: relative;
}

.eyeIcon {
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 5;
  background-color: transparent;
  border: none;
}

.input {
  padding-right: 45px;
}
.radioGroup {
  display: flex;
  align-items: center;
  gap: 20px;
}

.radioLabel {
  display: flex;
  align-items: center;
  font-size: 1.25rem;
  color: #1F3C88;
  cursor: pointer;
}

.radioInput {
  margin-right: 8px;
}

.radioGroup input[type="radio"] {
  accent-color: #2A9D8F;
}