.lembretesMain {
    background-color: #007EA7;
        /* Cor de fundo azul para o contêiner principal */
    color: #fff;
    min-height: 100vh;
    padding: 20px;
    text-align: center;
}

.lembretesTitle {
    color: #fff;
    margin-bottom: 30px;
    font-size: 2rem;
        /* Tamanho maior para o título */
}

.lembretesList {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.lembretesListItem {
    background-color: #fff;
        /* Fundo branco para os itens de lembrete */
        color: #333;
        /* Texto escuro para contraste com o fundo branco */
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
        align-items: start;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        /* Sombras suaves para destaque */
}

.lembretesContent {
    display: flex;
    flex-direction: column;
        gap: 10px;
}

.lembreteInfo {
    display: flex;
        flex-direction: column;
        align-items: start;
        gap: 5px;
    }
    
    .lembreteData {
        font-size: 1rem;
        color: #007EA7;
        /* Cor azul para a data, consistente com o tema */
    }
    
    .lembreteTexto {
        font-size: 1.25rem;
        color: #333;
        /* Texto principal em cinza escuro */
        margin-top: 10px;
        padding: 10px;
        background-color: rgba(0, 126, 167, 0.1);
        /* Fundo azul claro e suave */
        border-radius: 5px;
}

.lembreteActions {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.actionButton {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
        transition: background-color 0.3s ease;
}

.actionButton.danger {
    background-color: #dc3545;
        /* Botão de ação perigosa em vermelho */
    color: white;
}
.actionButton:hover {
    background-color: #005f87;
    /* Cor mais escura no hover */
}